body { margin: 0; background:black; color:white; font-family:Arial; overflow:hidden; }
#intro { position:fixed; width:100%; height:100%; background:red; display:flex; flex-direction:column; justify-content:center; font-size:50px; font-weight:bold; animation:fadeout 3s forwards; }
@keyframes fadeout {0%{opacity:1;}100%{opacity:0;display:none;}}
#lobby { display:none; position:fixed; width:100%; height:100%; background:#111; justify-content:center; align-items:center; flex-direction:column; }
button { padding:10px 20px; font-size:20px; cursor:pointer; background:red; border:none; color:white; border-radius:10px; }
